<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Icard</title>
    <style>
        @font-face {
  font-family: myf;
  src: url(berlinsans.ttf);
}
        .icard-box{
          
            font-family: Arial, Helvetica, sans-serif;
            margin: 40px auto;
            width: 230px;
            height: 365px;
            border: 1px solid #000;
           padding: 5px 5px;
            text-align: center;
        }
        .sub-id-card-box{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .id-number{
            font-size:10px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .student-img img{
            margin-top: 12px;
            width: 100px;
            height: 100px;
            border: 4px solid #ffc300;
            border-radius: 50%;
        }
        .student-name{
            font-size:18px;
            font-weight: 700;
            margin-top: 10px;
            text-transform: uppercase;
        }
        .course-name{
            font-size: 12px;
           font-size: 700;
        }
        .other-details{
            font-size: 10px;
           font-size: 700; 
        }
        .institute-title-box{ 
            display: flex;
            justify-content: center;
            align-items: center;  
           
        }
        .institute-title-box img{
            width: 230px;
          
        }
        .institute-logo img{
            width: 70px;
            height: 60px;
        }
        .institute-title{
            font-size: 16px;
            font-weight: 700;
            color: #cb0000;
        }
        .barcode img{
            margin-top: 10px;
            
            height: 30px;
        }
        .institute-reg
        {
            margin-top: 5px;
            font-size: 8px;
            text-align: center;
        }
        .footer{
            font-size: 11px;
            margin-top: 15px;
        }
        .body-box{
            width:600px ;
            display: flex;
            flex-wrap: wrap;
            margin: auto;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <div class=" body-box">
    <% for (let i = 0; i < datal.length; i++) { %>
    <div class="icard-box">
    <div class="sub-id-card-box">
        <div class="institute-title-box">
            <img src="http://localhost:4000/uploads/icard-topf.png">
        </div>
      
        
        
        <div class="student-img">
        <img src="http://localhost:4000/uploads/<%= datal[i].upload_photo %>"
        alt="user-img">
        </div>
        <div class="other-details">Student ID: <%= datal[i].student_id %></div>
        <div class="student-name"><%= datal[i].first_name %> <%= datal[i].last_name %></div>
         <div class="other-details">Date of Birth <%= datal[i].Date_Of_Birth %></div>
        <div class="course-name"><%= datal[i].course_name %> </div>
       
        <div class="other-details"> +91 <%= datal[i].phone_number %></div>
        <div class="other-details"> Valid upto <%= datal[i].validationDate %></div>

        <div class="barcode">
            <img src="http://localhost:4000/uploads/barcode/barcode_<%= datal[i].enrollment_id %>.png"
            />
        </div>
      

        <div class="footer">mctcdnh@gmail.com  | https://mctcdnh.in</div>
    </div>
    </div>

    <% if ((i + 1) % 4 === 0) { %>
        <div style="margin-top: 195px; width: 620px;">-</div>
      <% } %> 
        


    <% } %>


  
    </div>
</body>
</html>